<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.debugandconfig">
    <application>
    <activity android:name="com.example.debugandconfig.SettingActivity"></activity>
    <uses-library
        android:name="org.apache.http.legacy"
        android:required="false" />

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="im.zego.expresssample.fileprovider"
        android:grantUriPermissions="true"
        android:exported="false">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/filepaths" />
    </provider>
    </application>
</manifest>